/* src/components/home/HomeItems.css */
.homeitems-container {
  background: #16181f;
  padding: 20px;
  border-radius: 14px;
}
.homeitems-card {
  padding: 20px;
  background: #1a1c22;
  border-radius: 14px;
  margin-top: 20px;
}
.homeitems-img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.homeitems-price {
  margin-top: 10px;
  font-size: 16px;
  color: #00e0ff;
}
.homeitems-views {
  margin-top: 8px;
  font-size: 14px;
  color: #ffffff99;
}
