/* src/components/home/HomeGlobalActivity.css */
.globalact-container {
  background: #16181f;
  padding: 20px;
  border-radius: 14px;
  width: 100%;
}
.globalact-circle {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid #00e0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-value {
  font-size: 32px;
  font-weight: bold;
}
.circle-text {
  font-size: 12px;
  color: #ffffffb3;
}
.globalact-mau,
.globalact-ratio {
  margin-top: 10px;
  color: #ffffff99;
}
