.share-fab {
  position: fixed;
  bottom: 22px;
  right: 90px;
  background: #0dcaf0;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px #0dcaf088;
  z-index: 1000;
  cursor: pointer;
  transition: 0.3s;
}

.share-fab:hover {
  background: #0aa8cc;
  box-shadow: 0 0 25px #0dcaf0cc;
}

.share-icon {
  font-size: 26px;
}
